body {
	margin: 0;
	padding: 0;
	color: #848484;
}

.center {
	margin: 0 auto;
	max-width: 1200px;
	width: 95%;
}

.banner {
	border-top: 10px solid #2ecc71;
	width: 100%;
	background-image: url(images/banner.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner h1 {
	font-size: 60px;
	color: #fff;
}

.banner p {
	font-size: 24px;
	color: #fff;
}

.cont-banner{
	padding: 150px 0;
}

.container {
	margin: 0 auto;
	width: 70%;
	padding: 2.5%;
}

.item {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 31.57894736842105%;
}

.item p {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.update {
	background-color: #e3e3e3;
}

.teste {
	margin: 0 auto;
}

.cont-texto {
	width: 50%;
	display: inline-block;
	position: relative;
	text-align: center;
	float: left;
	text-align: left;
	line-height: 22px;
}

.cont-video {
	width: 50%;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	position: relative;
	padding-bottom: 300px;
	padding-top: 25px;
	height: 0;
}

.cont-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 315px;
}

.cont-video img {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.form-wrapper #search {
	padding: 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	border: 1px solid #848484;
	width: 60%;
}

.form-wrapper #submit {
	background-color: #2ecc71;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: -2px;
	padding: 10px 30px;
	color: white;
	font-weight: bold;
	font-size: 22px;
	border: none;
}

.texto-clientes {
	text-align: center;
	font-size: 18px;
	line-height: 28px;
}

.clientes h3 {
	font-weight: bold;
	font-size: 20px;
	color: black;
	text-align: center;
}

footer {
	background-color: #e3e3e3;
}

footer .container ul {
	list-style: none;
	text-align: center;
}

footer .container ul li {
	display: inline;
	padding: 0 30px;
}

footer .container ul li a {
	text-decoration: none;
	color: #848484;
	font-size: 16px;
}


/* 
1200px – Desktops, notebooks com monitores widescreen
***********************************************************/

@media screen and (max-width:1200px) {
	.container {
		width: 90%;
	}
}


/* 
960px – Tablets no formato paisagem e alguns monitores mais antigos
***********************************************************/

@media screen and (max-width:960px) {
	.cont-texto {
		width: 100%;
	}
	.cont-video {
		width: 100%;
		margin-top: 30px;
	}
	.cont-video img {
		max-width: 600px;
	}
}


/* 
768px – Tablets no formato retrato, como o iPad
***********************************************************/

@media screen and (max-width:768px) {
	.item {
		width: 100%;
	}
}


/* 
480px – Smartphones no formato paisagem com tela pequena
***********************************************************/

@media screen and (max-width:480px) {
	.container {
		margin: 0 auto;
		width: 90%;
		padding: 2.5%;
	}
	.cont-texto {
		width: 100%;
		display: inline-block;
		position: relative;
		text-align: center;
		float: left;
		text-align: left;
	}
	.cont-video {
		width: 100%;
		display: inline-block;
		text-align: center;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}
	.cont-video img {
		width: 100%;
	}
	.item {
		display: inline-block;
		position: relative;
		text-align: center;
		width: 100%;
		margin: 20px 0;
	}
	.form-wrapper #search {
		padding: 15px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border: none;
		border: 1px solid #848484;
		width: 50%;
		margin-bottom: 30px;
	}
	footer .container ul {
		display: block;
		padding: 0;
	}
	footer .container ul li {
		display: block;
	}
}


/* 
320px – Smartphones no formato retrato com tela pequena
***********************************************************/

@media screen and (max-width:320px) {
	.container {
		margin: 0 auto;
		width: 90%;
		padding: 2.5%;
	}
	.cont-texto {
		width: 100%;
		display: inline-block;
		position: relative;
		text-align: center;
		float: left;
		text-align: left;
	}
	.cont-video {
		width: 100%;
		display: inline-block;
		text-align: center;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}
	.cont-video img {
		width: 100%;
	}
	.item {
		display: inline-block;
		position: relative;
		text-align: center;
		width: 100%;
		margin: 20px 0;
	}
	.form-wrapper #search {
		padding: 15px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border: none;
		border: 1px solid #848484;
		width: 100px;
		margin-bottom: 30px;
	}
}